@import "./styles/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--bg));
  color: rgb(var(--text-primary));
}

body {
  overflow: hidden;
}

#root {
  height: 100%;
  background-color: rgb(var(--bg));
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
